@import "tailwindcss";

@keyframes pulse-slow-reverse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
}
.animate-pulse-slow-reverse {
  animation: pulse-slow-reverse 10s infinite alterna
  te;
}
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 3s ease infinite;
  background-size: 200% 200%;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}